node_modules
.yarn
.*
**/.editorconfig
**/.eslintignore
**/.eslint.json
**/.prettierignore
**/.prettierrc
**/.huskyrc.json
**/.lintstaged.json
**/.travis.yml
**/jest.config.js
package.txt
prepublish.js
postpublish.js
package-production.json
pull_request_template.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
.github
docs
coverage
__tests__
#src ## include src cause we're not publishing this and we need access to src to compile
#**/tsconfig.json
#**/webpack.config.js
